

<div>  
  <h4>Ajouter une nouvelle note de frais : 
    <a routerLink="/newn"> 
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
      </button>
    </a> </h4>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Mes notes de frais</h2>
    </div>

      <table class="table table-striped">
        <tr>
          <th>Motif</th>
          <th>Date</th>
          <th>Montant</th>
          <th>Devise</th>
          <th>Etat</th>
        </tr>

        <tr class="notelist"
          *ngFor="let note of notes">
          <td><a routerLink="/detail/{{note._id}}">{{note.title}}</a></td>
          <td>{{note.date}}</td>
          <td>{{note.amount}}</td>
          <td>{{note.currency}}</td>
          <td>{{note.status}}</td>
        </tr>
      </table>



  </div>




