/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  .navbar{
    -webkit-text-fill-color: aliceblue;
    background-color: rgb(1, 138, 54);
    color: white
    
}
  .actived{
    background-color: rgb(2, 109, 43)
  }
  


