
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home"> <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> NDF APP</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a routerLink="/list/{{ auth.getUserDetails()?.name }}/{{ auth.getUserDetails()?._id }}" routerLinkActive="yes"> Mes Notes </a></li>
        <li> <a routerLink="/admin" routerLinkActive="yes"> Interface Administrateur </a></li>
        <!--PENSER A RETIRER LE LIEN EN PROD-->
        <!--li> <a routerLink="/essai" routerLinkActive="yes"> PAGE 404 </a></li-->
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="auth.isLoggedIn()" class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ auth.getUserDetails()?.name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> <a routerLink="/admin"> Interface Administrateur </a></li>
            <li> <a routerLink="/profile"> Réglages du compte </a></li>
            <li><a href="#">Sign in</a></li>
            <li class="divider"></li>
            <li><a href="#" (click)="auth.logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">


  
  <router-outlet></router-outlet>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>