

<div class="panel panel-default">
    <div class="panel-body">
    <ul class="nav navbar-nav">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Gestionnaires</a></li>
            <li><a routerLink="/admin/listusers" routerLinkActive="yes"> Utilisateurs </a></li>
    </ul>
</div>
</div>

<router-outlet></router-outlet>

<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>
<h1>zbecqiug riltvhqe,orqeomrthpviehre</h1>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container">
                <ul class="nav navbar-nav">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a routerLink="/listusers" routerLinkActive="yes"> Utilisateurs </a></li>
                </ul>
        </div>
      </nav>