
<div *ngIf="user"  class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Utilisateur : {{user.name}}</h1>
  </div>
  <div class="panel-body">
    <h3>Adresse Mail : </h3> <h4>{{ user.email }}</h4>

    <h3>Type de compte : </h3> <h4>{{ user.accountType }}</h4>

    <h3>Gestionnaire assigné : </h3> <h4 *ngIf="hasAccMan()">{{ user.accountManagerName }}</h4> <h4 *ngIf="!hasAccMan()">Pas de gestionnaire assigné</h4>
  </div>

  <div class="panel-footer">   
  

    <div class="dropdown">

      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Changer le type de compte <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li> <a (click)="updateAccountType('Administrateur')"> Administrateur </a></li>
        <li> <a (click)="updateAccountType('Gestionnaire')"> Gestionnaire </a></li>
        <li> <a (click)="updateAccountType('Utilisateur standard')"> Utilisateur standard </a></li>
      </ul>
      &nbsp;
      <button *ngIf='!hasAccMan()' (click)="chooseAccMan()" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Assigner un gestionnaire
      </button>
    </div>


  </div>

</div>

<h3 *ngIf='choosing'>Choisissez le gestionnaire : </h3>

<div *ngIf='choosing' class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Gestionnaires</h2>
  </div>

    <table class="table table-striped">
      <tr>
        <th>Nom complet</th>
        <th>Adresse Mail</th>
        <th>Type d'utilisateur</th>
      </tr>

      <tr class="notelist"
        *ngFor="let accMan of accMans">
        <td><a (click)="chosenAccMan(accMan)">{{accMan.name}}</a></td>
        <td>{{accMan.email}}</td>
        <td>{{accMan.accountType}}</td>
      </tr>
    </table>
 


</div>