<div *ngIf="note"  class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Facture reçue le {{note.date}}</h1>
  </div>
  <div class="panel-body">
    <h1> {{note.title}} </h1>
    <h3>Etat de la note : {{note.status}}</h3>
    <h3>Montant : {{note.amount}} {{note.currency}}</h3>
    <h4> Note de l'utilisateur {{note.userName}}</h4>

    
  </div>

  <ul *ngIf="note.detail" class="list-group">
    <li class="list-group-item">{{note.detail}}</li>
  </ul>

  <div class="panel-body">
    <p>
    <button type="button" class="btn btn-primary" (click)="askDetails()"> Demander des détails 
       <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
    </button>
    </p>
    <p class= input-group>


              <span class="input-group-btn">
                  <button *ngIf="true" type="button" class="btn btn-danger"
                  (click)="refuseNote()"> Refuser la note 
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                  </button>
              </span>
              <input required [(ngModel)]="note.motif" type="text" class="form-control" placeholder="Raison du refus">

    </p>
    <p>
    <button type="button" class="btn btn-success"
    (click)="acceptNote()"> Valider la note 
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    </p>


    
  </div>
</div>

